name: Build and Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

env:
  CMAKE_BUILD_PARALLEL_LEVEL: 3
  CMAKE_TOOLCHAIN_FILE: ${{ github.workspace }}/cpp/vcpkg/scripts/buildsystems/vcpkg.cmake
  VCPKG_BINARY_SOURCES: files,${{ github.workspace }}/vcpkg_cache,readwrite

jobs:
  build:
    strategy:
      matrix:
        runner: [ubuntu-latest, macos-latest, windows-latest]
        crypto: [boringssl]
      fail-fast: false

    runs-on: ${{matrix.runner}}

    defaults:
      run:
        working-directory: ./cpp

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
          fetch-depth: 0

      - uses: ./.github/actions/prepare-build
        with:
          runner: ${{ matrix.runner }}
          crypto: ${{ matrix.crypto }}
          cache-dir: ${{ github.workspace }}/vcpkg_cache

      - name: test (macOS/Linux)
        if: ${{ runner.os == 'macOS' || runner.os == 'Linux' }}
        shell: bash
        run: |
          make dtest \
            BUILD_TYPE=Debug \
            BUILD_DIR="${{ runner.temp }}/build_${{ matrix.crypto }}_test" \
            SSL="${{ matrix.crypto }}" \
            BUILD_SHARED_LIBS=OFF \
            SANITIZERS=ON

      - name: test (Windows)
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        run: |
          make dtest \
            BUILD_TYPE=Debug \
            BUILD_DIR="${{ runner.temp }}/build_${{ matrix.crypto }}_test" \
            SSL="${{ matrix.crypto }}" \
            BUILD_SHARED_LIBS=OFF \
            SANITIZERS=OFF

      - name: test-capi (macOS/Linux)
        if: ${{ runner.os == 'macOS' || runner.os == 'Linux' }}
        shell: bash
        run: |
          make dtest-capi \
            BUILD_TYPE=Debug \
            BUILD_DIR="${{ runner.temp }}/build_${{ matrix.crypto }}_test_capi" \
            SSL="${{ matrix.crypto }}" \
            BUILD_SHARED_LIBS=ON \
            SANITIZERS=ON

      - name: test-capi (Windows)
        if: ${{ runner.os == 'Windows' }}
        shell: bash
        run: |
          make dtest-capi \
            BUILD_TYPE=Debug \
            BUILD_DIR="${{ runner.temp }}/build_${{ matrix.crypto }}_test_capi" \
            SSL="${{ matrix.crypto }}" \
            BUILD_SHARED_LIBS=ON \
            SANITIZERS=OFF
